In [1]:
import pandas as pd

# Create the sales dataset
data = {
    "Order_ID": [1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015],
    "Product": ["Notebook","Laptop","Pen Set","Mouse","Keyboard","Printer",
                "Marker Set","Headphones","USB Drive","Scanner","Calculator",
                "Webcam","Tablet","File Folder","Monitor"],
    "Category": ["Stationery","Electronics","Stationery","Accessories","Accessories","Electronics",
                 "Stationery","Accessories","Accessories","Electronics","Stationery",
                 "Accessories","Electronics","Stationery","Electronics"],
    "Quantity": [50,2,100,15,12,3,80,20,35,5,40,8,4,120,6],
    "Price": [120,45000,250,350,800,8500,180,1200,400,6500,350,2500,25000,150,12000],
    "Month": ["January","January","January","February","February","February",
              "February","March","March","March","April","April","April","April","April"]
}

# Load into DataFrame
df = pd.DataFrame(data)

# Create Total_Revenue column
df["Total_Revenue"] = df["Quantity"] * df["Price"]

# Total revenue for each product
print("Total revenue for each product:")
print(df.groupby("Product")["Total_Revenue"].sum())

# Total units sold for each category
print("\nTotal units sold for each category:")
print(df.groupby("Category")["Quantity"].sum())

# Average price per unit for each category
print("\nAverage price per unit for each category:")
print(df.groupby("Category")["Price"].mean())

# Product with maximum units sold
print("\nProduct with maximum units sold:")
print(df.loc[df["Quantity"].idxmax()])

# Total revenue per month
print("\nTotal revenue for each month:")
print(df.groupby("Month")["Total_Revenue"].sum())

# Products with Units_Sold greater than 40
print("\nProducts with Units Sold greater than 40:")
print(df[df["Quantity"] > 40])

# Sort dataset by Total_Revenue in descending order
print("\nDataset sorted by Total_Revenue (Descending):")
print(df.sort_values(by="Total_Revenue", ascending=False))

Total revenue for each product:
Product
Calculator      14000
File Folder     18000
Headphones      24000
Keyboard         9600
Laptop          90000
Marker Set      14400
Monitor         72000
Mouse            5250
Notebook         6000
Pen Set         25000
Printer         25500
Scanner         32500
Tablet         100000
USB Drive       14000
Webcam          20000
Name: Total_Revenue, dtype: int64

Total units sold for each category:
Category
Accessories     90
Electronics     20
Stationery     390
Name: Quantity, dtype: int64

Average price per unit for each category:
Category
Accessories     1050.0
Electronics    19400.0
Stationery       210.0
Name: Price, dtype: float64

Product with maximum units sold:
Order_ID                1014
Product          File Folder
Category          Stationery
Quantity                 120
Price                    150
Month                  April
Total_Revenue          18000
Name: 13, dtype: object

Total revenue for each month:
Month
April       224000
February     54750
January     121000
March        70500
Name: Total_Revenue, dtype: int64

Products with Units Sold greater than 40:
    Order_ID      Product    Category  Quantity  Price     Month  \
0       1001     Notebook  Stationery        50    120   January
2       1003      Pen Set  Stationery       100    250   January
6       1007   Marker Set  Stationery        80    180  February
13      1014  File Folder  Stationery       120    150     April

    Total_Revenue
0            6000
2           25000
6           14400
13          18000

Dataset sorted by Total_Revenue (Descending):
    Order_ID      Product     Category  Quantity  Price     Month  \
12      1013       Tablet  Electronics         4  25000     April
1       1002       Laptop  Electronics         2  45000   January
14      1015      Monitor  Electronics         6  12000     April
9       1010      Scanner  Electronics         5   6500     March
5       1006      Printer  Electronics         3   8500  February
2       1003      Pen Set   Stationery       100    250   January
7       1008   Headphones  Accessories        20   1200     March
11      1012       Webcam  Accessories         8   2500     April
13      1014  File Folder   Stationery       120    150     April
6       1007   Marker Set   Stationery        80    180  February
10      1011   Calculator   Stationery        40    350     April
8       1009    USB Drive  Accessories        35    400     March
4       1005     Keyboard  Accessories        12    800  February
0       1001     Notebook   Stationery        50    120   January
3       1004        Mouse  Accessories        15    350  February

    Total_Revenue
12         100000
1           90000
14          72000
9           32500
5           25500
2           25000
7           24000
11          20000
13          18000
6           14400
10          14000
8           14000
4            9600
0            6000
3            5250